<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Success</title>
</head>
<body>
    <p>
        <center> <a href='https://ifh.cc/v-dsW9Gk' target='_blank'><img src='https://ifh.cc/g/dsW9Gk.png' border='0' width="40%"></a></center>
    </p>
    <h1><center>Your registration is success!!</center></h1>
    <p><center>Try to login!!</p></center>
    <form action="/login" method="GET">
        <button type="submit" value="submit">Login</button>
    </from>

</body>    
</html>    